.banner 
{
    background-image:url(../assets/banner/bannerbg.jpg);
    width: 100%;
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: fit-content;
    padding-bottom: 5%;
}


.bannercard
{
    margin-left: 1%;
    width: 30.5% !important;
    margin-right: 2%;
    background-color: #1D201D;
    border-radius: 20px;
    border: dashed 1px #6B54F7;
    margin-top: 4% !important;
   
}
.bannercardbottom
{
    width: 32% !important;
    margin-right: 2%;
    background-color: #1D201D;
    border-radius: 20px;
    border: dashed 1px #6B54F7;
    margin-top: 1% !important;
    height: fit-content;
}
.bannercard2
{
   
    width: 32% !important;
    background-color: #1D201D;
    border-radius: 20px;
    border: dashed 1px #6B54F7;
    margin-top: 4% !important;
}

.bannercard3
{
    
    width: 32% !important;
    margin-top: 15% !important;
    margin-left: -1%;
}
.extra
{
    margin-top: 5%;
    width: 100%;
    border-radius: 20px;
    background-color: #1D201D;
    border: dashed 1px #6B54F7;
    height:fit-content;
    margin-left: 3%;

}
.bannercardlast
{
    height: 50vh;
    width: 32% !important;
    margin-top: 4% !important;
    margin-left: -1%;
  
   
}
.finalone
{
    border: dashed 1px #6B54F7;
    background-color: #1D201D;
    border-radius: 20px;
    margin-left: 3%;
    width: 100%;
    
}
.middlebox
{
    border-radius: 20px;
    width: 66%;
    margin-left: 1px;
    height: fit-content;
}
.innercontent
{
    padding-left: 20px;
    color: #fff !important;
}
.toggle
{
    cursor: pointer;
}
.hidden {
    display: none; /* Initially hide the description */
  }
.para
{
    color: #D8D8D8;
    font-size: 15px;
}
  
  .chevron-icon {
    transition: transform 0.3s ease; /* Smooth transition for rotation */
  }
  
  /* .rotated {
    transform: rotate(90deg); 
  }
   */
  
  ul li::marker {
    color: #6B54F7; /* Changes the color of the list dot (bullet) */
  }
  
  /* .head3
  {
    margin-left: 5%;
  }
  .head4
  {
    margin-left: -5%;
  }
  .middlehead
  {
    padding-left: 20%;
  }
  .middlehead2
  {
    padding-left: 150% !important;
    margin-top: 15%;
  
  } */
